#header{

    background-color: white;
    display: flex;
    height:10vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid black;
}
#inheader{
    display: flex;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
.headerli{
    padding:max(1vh,1vw);
}
.headerli:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
#spanheader{
    display: flex;  padding-top:3vh; align-content: space-between; justify-items: center;
}
#spanheader img {height: 3vh; padding-right: 0.5vw;  }
#spanheader img:hover{cursor:pointer;
    height:3.1vh;}
#titre{
    text-decoration: none;
    color: black;
}
#tit{
    color: gray;
}